<!DOCTYPE html>
<html>
<head>
  <title>API Data</title>
</head>
<body>
  <h1>API Data</h1>
  <ul>
    <% data.forEach(function(item) { %>
      <li><%= item.title %></li>
    <% }); %>
  </ul>
</body>
</html>